@import "./fonts";
@import "./scrollbar";

@font-face {
  font-family: 'iconfont';  /* project id 1368507 */
  src: url('//at.alicdn.com/t/font_1368507_jova7czb3yn.eot');
  src: url('//at.alicdn.com/t/font_1368507_jova7czb3yn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1368507_jova7czb3yn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1368507_jova7czb3yn.woff') format('woff'),
  url('//at.alicdn.com/t/font_1368507_jova7czb3yn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1368507_jova7czb3yn.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;

  &::selection {
    background: #5c6b72;
    color: #e6e6e6
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  font-family: din, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: url(../cursor/normal.cur), auto;;
}

a {
  color: #333;
  font-weight: 300;
  background-color: transparent;
  text-decoration: none;
  cursor: url(../cursor/ayuda.cur), auto;
}

a:active {
  cursor: url(../cursor/work.cur), alias
}

p, span {
  cursor: url(../cursor/texto.cur), auto
}

h1 {
  font-size: 32px;
  margin: 20px 0;
  line-height: 50px;
}

@import "./header";
@import "./footer";



// 视频
.video-box {
  padding: 0;
  margin-bottom: 30px;
  text-align: center;

  .video {
    min-height: 400px;
    height: auto;
    width: 100%;
    display: block;
    position: relative;

    .video-media {
      position: relative;
      z-index: 0;
      height: 55vh;
      min-height: 400px;
      overflow: hidden;

      video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }

    .video-frame {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: -1px;
      left: 0;
      min-width: 100%;

      img {
        display: block;
        width: 100%;
      }
    }

    .video-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(178, 191, 204, .6);
    }

    .video-inner, .video-inner a {
      color: #fff;
      text-decoration: none;
    }

    .video-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -65%);
      z-index: 999999;

      .social {
        margin-top: 25px;

        a {
          margin: 0 5px;

          &:hover {
            color: #eee;
          }
        }
      }
    }
  }
}

// content
.content {
  width: 100%;

  .content-inner {
    margin: 0 auto;
    max-width: 800px;

    .recent-posts {
      .recent-post-item {
        margin: 0 auto;

        h1 {
          position: relative;
          overflow: hidden;
          font-size: 18px;

          .article-link {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            position: relative;
            padding: 0 10px 0 0;

            .title-href {
              max-width: 350px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
            }

            &:after {
              content: '';
              display: block;
              width: 800px;
              position: absolute;
              top: 22px;
              border-top: 1px solid #eee;
              left: 100%;
            }
          }

          .post-time {
            top: 0;
            right: 0;
            color: #777;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: absolute;
            background-color: #fff;
            padding-left: 10px;
            max-width: 50%;
            font-weight: 400;
            line-height: 43px;
          }

          .new-article {
            font-weight: normal;
            font-size: 24px;
            color: #56B4D3;
            position: absolute;
            left: -45px;
            bottom: 18px;
          }

          .articles-tag {
            font-weight: normal;
            font-size: 24px;
            color: #999;
            background: #eee;
            padding: 13px;
            border-radius: 50%;
            vertical-align: top;

            &:hover {
              opacity: .8;
            }
          }
        }
      }
    }
  }
}

// gotop
.go-top {
  position: fixed;
  right: 25px;
  top: -900px;
  z-index: 99;
  width: 70px;
  height: 900px;
  background: url(../images/scroll.png) no-repeat center;
  background-size: contain;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;

  .go-top-is-visible {
    opacity: 1;
    top: -326px
  }

  .go-top-fade-out {
    opacity: 1
  }

  &:hover {
    opacity: 1
  }
}


//@media screen and (max-width:860px) {
//  .cd-top {
//    display: none;
//    height: 60px;
//    width: 50px
//  }
//  .cd-top span {
//    height: 10px;
//    width: 50px
//  }
//}

// 分页
.page-number, .space, .next {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  margin: 0 -1px 5px 0;
  background-color: #fff;
  color: #333;
  font-size: 12px;
  border: 1px solid #e2e2e2;
}

.space {
  cursor: not-allowed !important;
  color: #d2d2d2 !important;
}

.current {
  color: #fff;
  background-color: #56B4D3;
  border: 1px solid #56B4D3;
  cursor: not-allowed !important;
}
